@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  font-family: "Centra", sans-serif !important;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  text-decoration: none;
  list-style: none;
  color: #181818;
  //box-sizing: border-box;
}

body {
  height: 100%;
  //max-width: fill;
}

.mainBody {
  display: flex;
  height: 100%;
  width: 100%;
  //justify-content: space-between;
}

section {
  padding: 1.7em 2em;
  font-size: 1.1em;
}

.navigation {
  height: 100%;
  border-right: solid 2px #9e9e9e;
  padding-left: 0;
  padding-right: 0;

  .container {
    text-align: left;

    .topNav,
    .logo {
      text-align: center;
      padding: 0.5em 4.5em;
    }

    .topNav {
      margin: 2em 0;
      margin-top: 1.5;

      .profilepic {
        margin-bottom: 1em;
        padding: 3px;
        background-color: rgb(120, 211, 223);
        border-radius: 50%;
        .ivanface {
          width: 7em;
          border-radius: 50%;
        }
      }
      .profileDetails {
        span {
          display: block;
        }

        .Name {
          font-weight: 700;
          font-size: 1.2em;
        }

        .Role {
          color: #9e9e9e;
          font-size: 0.9em;
        }
      }
    }

    .middleNav {
        font-size: 1em;
      font-weight: 500;
      margin-top: 2em;
      padding-left: 2.6em;
      margin-bottom: 4.3em;
      ul {
        li {
          margin: 0.8em 0;
          // padding-right: 0 3em;
        }
      }
    }

    .bottomNav {
      font-weight: 500;
      padding-left: 2.6em;

      ul {
        li {
          margin: 0.8em 0;
        }
      }
    }
  }
}

.dashboard {
    h2{
        font-size: 1.5em;
    }

    span{
        font-size: 1em;
    }

  .container {
    padding: 0 1em;

    .titleBlock {
      font-size: 1.4em;
    }

    .contain {
      padding-left: 4px;

      section {
        padding: 0;
      }

      .statBlock {
        margin-top: 3em;
        display: flex;
        gap: 5em;
        //justify-content: space-between;

        .block {
            .hm{
                font-size: 1.3em;
                height: fit-content;
            }

          .ho {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1.2px #9e9e9e;
            padding-bottom: 5px;
            gap: 10px;
          }
        }
      }

      .extraDataBlock {
        gap: 2em;
        display: flex;
        margin-top: 2.5em;

        .retention {
          width: fit-content;
          .head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 2em;

            span {
              margin-top: 3px;
              font-size: 0.8em;
              color: #9e9e9e;
              align-self: center;
            }

            .timeperiod {
              align-self: center;
              padding: 1px 4px;
              border-radius: 14%;
              font-size: 0.8em;
              color: #9e9e9e;
              border: solid 2px #9e9e9e;
            }
          }

          .megan {
            margin-top: 10px;
            padding: 1em 2em;
            display: flex;
            width: 24em;
            background-color: aqua;
            border-radius: 18px;
            gap: 0;
            //box-shadow: ;

            .left {
              opacity: 0.7;
            }

            span {
              font-size: 0.8em;
            }
          }
        }

        .Competitors{
            .competi{
                display: flex;
                flex-direction: column;
                margin: 10px 0;
                gap: 10px;

                li{
                    font-size: 0.8em;
                    display: flex;
                    gap: 1.5em;
                }
            }

            .hollo{
                font-size: 0.8em;
                //background-color: pink;
            }
        }
      }

      .socialStatsBlock {
        display: flex;
        margin-top: 2em;
        background: rgb(141, 206, 226);
        border-radius: 18px;
        padding: 2em 2em;
        align-items: center;
        gap: 5em;

        .doubleC{
            margin-left: 1em;
            max-width: min-content;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            h2{
                margin-right: 10px;
            }
            span{
                font-size: 0.9em;
            }
        }
        .themstats{
            ul{
                display: flex;
                gap: 1.5em;
                li{
                    background: white;
                    border-radius: 18px;
                    text-align: center;
                    padding: 1em 1em;

                    span{
                        font-size: 0.8em;
                        display: block;
                    }
                }
            }
        }
      }
    }
  }
}

.hollow{
    color: #9e9e9e;
}