@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  font-family: "Centra", sans-serif !important;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  text-decoration: none;
  list-style: none;
  color: #181818;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin-bottom: 4em;
  background: rgba($color: #42ecde, $alpha: 0.08);
}
.ivanhead {
  width: 30px;
  border-radius: 50%;
}

.mainBody {
  display: flex;
  height: 100%;
  width: 100%;
  //justify-content: space-between;
}

section {
  padding: 1.7em 2em;
  font-size: 1.1em;
}

.navigation {
  height: 100%;
  border-right: solid 2px #9e9e9e;
  padding-left: 0;
  padding-right: 0;
  z-index: 1001;

  .container {
    text-align: left;

    .topNav,
    .logo {
      text-align: center;
      padding: 0.5em 4.5em;
    }

    .topNav {
      margin: 2em 0;
      margin-top: 1.5;

      .profilepic {
        margin-bottom: 1em;
        padding: 3px;
        background-color: rgb(120, 211, 223);
        border-radius: 50%;
        .ivanface {
          width: 7em;
          border-radius: 50%;
        }
      }
      .profileDetails {
        span {
          display: block;
        }

        .Name {
          font-weight: 700;
          font-size: 1.2em;
        }

        .Role {
          color: #9e9e9e;
          font-size: 0.9em;
        }
      }
    }

    .middleNav {
      font-size: 1em;
      font-weight: 500;
      margin-top: 2em;
      padding-left: 2.2em;
      margin-bottom: 3.8em;
      ul {
        li {
          align-items: center;
          margin: 1em 0;
          // padding-right: 0 3em;

          span {
            display: flex;
            align-items: center;
            gap: 9px;
          }
        }
      }
    }

    .bottomNav {
      font-weight: 500;
      padding-left: 2.2em;

      ul {
        li {
          margin: 0.8em 0;
          align-items: center;
          margin: 1em 0;

          span {
            display: flex;
            align-items: center;
            gap: 9px;
          }
        }
      }
    }
  }
}

.dashboard {
  padding-bottom: 42em;
  h2 {
    font-size: 1.5em;
  }

  span {
    font-size: 1em;
  }

  .container {
    padding: 0 1em;

    .titleBlock {
      font-size: 1.4em;
    }

    .contain {
      padding-left: 4px;

      section {
        padding: 0;
      }

      .statBlock {
        margin-top: 3em;
        display: flex;
        gap: 5em;

        .block {
          width: 7.5em;
          .hm {
            font-size: 1.3em;
            height: fit-content;
          }

          .ho {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1.2px #9e9e9e;
            padding-bottom: 5px;
            gap: 10px;
          }
        }
      }

      .extraDataBlock {
        gap: 3em;
        display: flex;
        margin-top: 2.1em;

        .retention {
          width: fit-content;
          .head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 2em;

            span {
              margin-top: 3px;
              font-size: 0.8em;
              color: #9e9e9e;
              align-self: center;
            }

            .timeperiod {
              align-self: center;
              padding: 1px 4px;
              border-radius: 14%;
              font-size: 0.8em;
              color: #9e9e9e;
              border: solid 2px #9e9e9e;
            }
          }

          .megan {
            align-items: center;
            margin-top: 10px;
            padding: 1em 2em;
            padding-right: 0;
            display: flex;
            width: fit-content;
            background-color: rgba($color: #42ecde, $alpha: 0.4);
            border-radius: 18px;
            gap: 0;
            //box-shadow: ;

            .left {
              opacity: 0.7;
            }

            .right {
              margin: 10px 0;
              margin-left: 6em;
              margin-right: 4em;
              width: fit-content;

              img {
                height: 7.5em;
                border-radius: 2em;
              }
            }

            span {
              font-size: 0.8em;
            }
          }
        }

        .Competitors {
          .competi {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            gap: 13px;

            li {
              font-size: 0.8em;
              display: flex;
              gap: 1.9em;
              align-items: center;
              flex-wrap: nowrap;

              .picpic {
                border-radius: 50%;
                width: 50px;
              }
            }
          }

          .hollo {
            font-size: 0.8em;
            //background-color: pink;
            height: fit-content;
            display: flex;
            align-items: center;
            margin-top: 10px;
          }
        }
      }

      .socialStatsBlock {
        display: flex;
        margin-top: 2.7em;
        background: rgba($color: rgb(141, 226, 141), $alpha: 0.7);
        border-radius: 18px;
        padding: 2em 2em;
        align-items: center;
        gap: 8em;

        .doubleC {
          margin-left: 2em;
          max-width: min-content;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          h2 {
            margin-right: 10px;
          }
          span {
            font-size: 0.9em;
          }
        }
        .themstats {
          ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 3em;
            margin-top: 1em;
            li {
              text-align: center;
              align-items: center;

              .card {
                padding: 1.5em 1.5em;
                width: fit-content;
                background: white;
                border-radius: 18px;
                position: relative;

                img {
                  border-radius: 50%;
                  width: 40px;
                  position: absolute;
                  top: -25;
                  left: 35%;
                }

                h4 {
                  font-size: 0.8em;
                }
                .hollow {
                  margin-bottom: 10px;
                }

                span {
                  margin: 5px 0;
                  font-size: 0.6em;
                  display: block;
                }

                .tiny {
                  font-size: 0.4em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hollow {
  color: #9e9e9e;
}
