@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Book.ttf");
  font-weight: 400;
}
* {
  font-family: "Centra", sans-serif !important;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  text-decoration: none;
  list-style: none;
  color: #181818;
}

body {
  height: 100%;
}

.mainBody {
  display: flex;
  height: 100%;
  width: 100%;
}

section {
  padding: 2.5em 2em;
  font-size: 1.1em;
}

.navigation {
  height: 100%;
  border-right: solid 2px #9e9e9e;
  padding-left: 0;
  padding-right: 0;
}
.navigation .container {
  text-align: left;
}
.navigation .container .topNav,
.navigation .container .logo {
  text-align: center;
  padding: 0.5em 5.5em;
}
.navigation .container .topNav {
  margin: 2em 0;
  margin-top: 1.5;
}
.navigation .container .topNav .profilepic {
  margin-bottom: 1em;
  padding: 3px;
  background-color: rgb(120, 211, 223);
  border-radius: 50%;
}
.navigation .container .topNav .profilepic .ivanface {
  width: 7em;
  border-radius: 50%;
}
.navigation .container .topNav .profileDetails span {
  display: block;
}
.navigation .container .topNav .profileDetails .Name {
  font-weight: 700;
  font-size: 1.2em;
}
.navigation .container .topNav .profileDetails .Role {
  color: #9e9e9e;
  font-size: 0.9em;
}
.navigation .container .middleNav {
  font-weight: 500;
  margin-top: 3em;
  padding-left: 2.6em;
  margin-bottom: 4em;
}
.navigation .container .middleNav ul li {
  margin: 0.8em 0;
}
.navigation .container .bottomNav {
  font-weight: 500;
  padding-left: 2.6em;
}
.navigation .container .bottomNav ul li {
  margin: 0.8em 0;
}

.dashboard .container {
  padding: 0 1em;
}
.dashboard .container .titleBlock {
  font-size: 1.4em;
}
.dashboard .container .contain {
  padding-left: 4px;
}
.dashboard .container .contain section {
  padding: 0;
}
.dashboard .container .contain .statBlock {
  margin-top: 3em;
  display: flex;
  gap: 5em;
  justify-content: space-between;
}
.dashboard .container .contain .statBlock .block .ho {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px;
  gap: 10px;
}
.dashboard .container .contain .extraDataBlock {
  display: flex;
  margin-top: 3em;
  justify-content: space-between;
}
.dashboard .container .contain .extraDataBlock .retention {
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard .container .contain .extraDataBlock .retention .head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2em;
}
.dashboard .container .contain .extraDataBlock .retention .head span {
  margin-top: 3px;
  font-size: 0.9em;
  color: #9e9e9e;
  align-self: center;
}
.dashboard .container .contain .extraDataBlock .retention .head .timeperiod {
  align-self: center;
  padding: 1px 4px;
  border-radius: 20%;
  font-size: 0.9em;
  color: #9e9e9e;
  border: solid 2px #9e9e9e;
}
.dashboard .container .contain .extraDataBlock .retention .megan {
  margin-top: 10px;
  padding: 1em 2em;
  display: flex;
  background-color: aqua;
  border-radius: 20px;
  gap: 0;
}
.dashboard .container .contain .extraDataBlock .retention .megan .left {
  opacity: 0.7;
}
.dashboard .container .contain .extraDataBlock .retention .megan span {
  font-size: 0.9em;
}
.dashboard .container .contain .socialStatsBlock {
  display: flex;
}/*# sourceMappingURL=index.css.map */