@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../resources/font/CentraNo2-Book.ttf");
  font-weight: 400;
}
* {
  font-family: "Centra", sans-serif !important;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  text-decoration: none;
  list-style: none;
  color: #181818;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin-bottom: 4em;
  background: rgba(66, 236, 222, 0.08);
}

.ivanhead {
  width: 30px;
  border-radius: 50%;
}

.mainBody {
  display: flex;
  height: 100%;
  width: 100%;
}

section {
  padding: 1.7em 2em;
  font-size: 1.1em;
}

.navigation {
  height: 100%;
  border-right: solid 2px #9e9e9e;
  padding-left: 0;
  padding-right: 0;
  z-index: 1001;
}
.navigation .container {
  text-align: left;
}
.navigation .container .topNav,
.navigation .container .logo {
  text-align: center;
  padding: 0.5em 4.5em;
}
.navigation .container .topNav {
  margin: 2em 0;
  margin-top: 1.5;
}
.navigation .container .topNav .profilepic {
  margin-bottom: 1em;
  padding: 3px;
  background-color: rgb(120, 211, 223);
  border-radius: 50%;
}
.navigation .container .topNav .profilepic .ivanface {
  width: 7em;
  border-radius: 50%;
}
.navigation .container .topNav .profileDetails span {
  display: block;
}
.navigation .container .topNav .profileDetails .Name {
  font-weight: 700;
  font-size: 1.2em;
}
.navigation .container .topNav .profileDetails .Role {
  color: #9e9e9e;
  font-size: 0.9em;
}
.navigation .container .middleNav {
  font-size: 1em;
  font-weight: 500;
  margin-top: 2em;
  padding-left: 2.2em;
  margin-bottom: 3.8em;
}
.navigation .container .middleNav ul li {
  align-items: center;
  margin: 1em 0;
}
.navigation .container .middleNav ul li span {
  display: flex;
  align-items: center;
  gap: 9px;
}
.navigation .container .bottomNav {
  font-weight: 500;
  padding-left: 2.2em;
}
.navigation .container .bottomNav ul li {
  margin: 0.8em 0;
  align-items: center;
  margin: 1em 0;
}
.navigation .container .bottomNav ul li span {
  display: flex;
  align-items: center;
  gap: 9px;
}

.dashboard {
  padding-bottom: 42em;
}
.dashboard h2 {
  font-size: 1.5em;
}
.dashboard span {
  font-size: 1em;
}
.dashboard .container {
  padding: 0 1em;
}
.dashboard .container .titleBlock {
  font-size: 1.4em;
}
.dashboard .container .contain {
  padding-left: 4px;
}
.dashboard .container .contain section {
  padding: 0;
}
.dashboard .container .contain .statBlock {
  margin-top: 3em;
  display: flex;
  gap: 5em;
}
.dashboard .container .contain .statBlock .block {
  width: 7.5em;
}
.dashboard .container .contain .statBlock .block .hm {
  font-size: 1.3em;
  height: -moz-fit-content;
  height: fit-content;
}
.dashboard .container .contain .statBlock .block .ho {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1.2px #9e9e9e;
  padding-bottom: 5px;
  gap: 10px;
}
.dashboard .container .contain .extraDataBlock {
  gap: 3em;
  display: flex;
  margin-top: 2.1em;
}
.dashboard .container .contain .extraDataBlock .retention {
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard .container .contain .extraDataBlock .retention .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2em;
}
.dashboard .container .contain .extraDataBlock .retention .head span {
  margin-top: 3px;
  font-size: 0.8em;
  color: #9e9e9e;
  align-self: center;
}
.dashboard .container .contain .extraDataBlock .retention .head .timeperiod {
  align-self: center;
  padding: 1px 4px;
  border-radius: 14%;
  font-size: 0.8em;
  color: #9e9e9e;
  border: solid 2px #9e9e9e;
}
.dashboard .container .contain .extraDataBlock .retention .megan {
  align-items: center;
  margin-top: 10px;
  padding: 1em 2em;
  padding-right: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(66, 236, 222, 0.4);
  border-radius: 18px;
  gap: 0;
}
.dashboard .container .contain .extraDataBlock .retention .megan .left {
  opacity: 0.7;
}
.dashboard .container .contain .extraDataBlock .retention .megan .right {
  margin: 10px 0;
  margin-left: 6em;
  margin-right: 4em;
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard .container .contain .extraDataBlock .retention .megan .right img {
  height: 7.5em;
  border-radius: 2em;
}
.dashboard .container .contain .extraDataBlock .retention .megan span {
  font-size: 0.8em;
}
.dashboard .container .contain .extraDataBlock .Competitors .competi {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 13px;
}
.dashboard .container .contain .extraDataBlock .Competitors .competi li {
  font-size: 0.8em;
  display: flex;
  gap: 1.9em;
  align-items: center;
  flex-wrap: nowrap;
}
.dashboard .container .contain .extraDataBlock .Competitors .competi li .picpic {
  border-radius: 50%;
  width: 50px;
}
.dashboard .container .contain .extraDataBlock .Competitors .hollo {
  font-size: 0.8em;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.dashboard .container .contain .socialStatsBlock {
  display: flex;
  margin-top: 2.7em;
  background: rgba(141, 226, 141, 0.7);
  border-radius: 18px;
  padding: 2em 2em;
  align-items: center;
  gap: 8em;
}
.dashboard .container .contain .socialStatsBlock .doubleC {
  margin-left: 2em;
  max-width: -moz-min-content;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.dashboard .container .contain .socialStatsBlock .doubleC h2 {
  margin-right: 10px;
}
.dashboard .container .contain .socialStatsBlock .doubleC span {
  font-size: 0.9em;
}
.dashboard .container .contain .socialStatsBlock .themstats ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  margin-top: 1em;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li {
  text-align: center;
  align-items: center;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li .card {
  padding: 1.5em 1.5em;
  width: -moz-fit-content;
  width: fit-content;
  background: white;
  border-radius: 18px;
  position: relative;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li .card img {
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: -25;
  left: 35%;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li .card h4 {
  font-size: 0.8em;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li .card .hollow {
  margin-bottom: 10px;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li .card span {
  margin: 5px 0;
  font-size: 0.6em;
  display: block;
}
.dashboard .container .contain .socialStatsBlock .themstats ul li .card .tiny {
  font-size: 0.4em;
}

.hollow {
  color: #9e9e9e;
}/*# sourceMappingURL=index.css.map */