@font-face {
	font-family: Centra;
	src: url('../resources/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('../resources/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('../resources/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
  font-family: 'Centra', sans-serif !important;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  text-decoration: none;
  list-style: none;
}

span {
  cursor: pointer;
}

svg {
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

button {
  cursor: pointer;
}

body {
  background: #171120;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.navigate {
  padding: 1.5em 1.9em;
  
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20000;
    
  box-sizing: border-box;

    .logo-container {
      .in-cont {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.4em;
        gap: 0.3em;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        img {
          width: 1.8em;
        }
      }
    }
  }
}

#nodisplay {
  display: none;
}

.nav-bubbleClose {
  display: none;
}

.innerbubble {
  padding: 2em 2em;
  padding-top: 1.5em;

  //justify-items: right; let.s try some shit with the svg first
  text-align: right;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: #171120;
  height: 150%;
  width: 60%;
  gap: 20px;
  font-weight: 600;
  font-size: 1.2em;

  .bubble-close {
    margin-left: 85%;
  }

  span {
    display: block;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .nav-options {
    display: block;

    .nav-guys {
      li {
        margin: 2em 0;
      }
    }
  }
}

.Body-section {
  margin-top: 3em;
  text-align: center;
  background: none;
  

  .container {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: none;
    overflow: hidden;

  box-sizing: border-box;
    .left {
      display: inline-block;
      padding: 0 2.8em;
      background: none;
      
  box-sizing: border-box;

      h1 {
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: -1;
        margin-bottom: 0.5em;

        .you {
          margin-top: 10px;
          font-size: 1.4em;
          background-image: radial-gradient(
            119.33% 119.33% at 0% 8%,
            #ff83cd 0%,
            rgba(255, 131, 205, 0.489983) 41.63%,
            rgba(182, 166, 223, 0.622549) 67.53%,
            rgba(139, 186, 233, 0.7) 100%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
        }
      }

      .about {
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
        font-size: 0.9em;
        letter-spacing: 0.1;
        line-height: 1.3em;
      }

      .booton {
        
  box-sizing: border-box;
        font-weight: 600;
        border: none;
        background-color: blue;
        color: white;
        font-size: 0.95em;
        padding: 0.95em 1.95em;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
        border-radius: 13px;
        margin-top: 3em;
        background: radial-gradient(
          102.73% 101.22% at 2.07% 4.59%,
          #ff83cd 0.51%,
          #b5548e 25.77%,
          #a5467f 41.63%,
          #5d4b8b 68.44%,
          rgba(79, 62, 126, 0.991933) 81.46%,
          rgba(98, 88, 150, 0.81) 100%
        );
      }
    }

    .right {
      background: none;
      width: 100%;
      z-index: -1;
      position: absolute;
      top: 43%;
      right: -6.5px;
      overflow: hidden;
      
  box-sizing: border-box;

      .mainlogo {
        background: transparent;
        width: 590px;
        opacity: 0.3;

      }
    }
  }
}

.footer {
  display: none;
  background: #221930;
}

@media only screen and (min-width: 716px) {
  .navigate {
    padding-left: 3%;
    padding-right: 8%;
    padding-top: 0;

    .container {
      justify-content: space-evenly;
      gap: 12em;

      .bubble-open {
        display: none;
      }

      #nav-bubble {
        display: block;

        .innerbubble {
          padding: 0;
          //justify-items: right; let.s try some shit with the svg first
          text-align: right;
          display: flex;
          flex-direction: row;
          position: relative;
          z-index: 2;
          background: transparent;
          height: fit-content;
          width: fit-content;
          gap: 10em;
          font-weight: 400;
          font-size: 1.2em;
          align-items: center;

          .bubble-close {
            display: none;
          }

          span {
            display: block;
          }

          .nav-options {
            display: block;

            .nav-guys {
              display: flex;
              gap: 6em;

              li {
                margin: 2em 0;
              }
            }
          }
        }
      }
    }
  }

  .Body-section {
    text-align: left;
    margin-top: 0;
    padding-left: 2em;
    .container {
      display: flex;
      align-items: start;
      flex-direction: row;
      gap: 3em;

      .left {
        margin-top: 7em;
        width: 60%;

        h1 {
          font-size: 3em;
          margin-bottom: 0.2em;

          .you {
            margin-top: 5px;
            font-size: 1.3em;
          }
        }

        .about {
          font-size: 1em;
        }

        .booton {
          font-size: 1.1em;
          padding: 0.95em 1.95em;
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
          border-radius: 15px;
          margin-top: 3.4em;
          background: radial-gradient(
            102.73% 101.22% at 2.07% 4.59%,
            #ff83cd 0.51%,
            #b5548e 25.77%,
            #a5467f 41.63%,
            #5d4b8b 68.44%,
            rgba(79, 62, 126, 0.991933) 81.46%,
            rgba(98, 88, 150, 0.81) 100%
          );
          transition: background-color 0.4s linear;



          &:hover {
            background: radial-gradient(
              4.59% 2.07% at 101.22% 102.73%,
              rgba(98, 88, 150, 0.81) 100%,
              rgba(79, 62, 126, 0.991933) 81.46%,
              #5d4b8b 68.44%,
              #a5467f 41.63%,
              #b5548e 25.77%,
              #ff83cd 0.51%
            );
          }
        }
      }

      .right {
        background: none;
        width: 100%;
        z-index: -1;
        position: relative;
        overflow: hidden;

        .mainlogo {
          width: 660px;
          opacity: 0.9;
        }
      }
    }
  }
}
