* {
  background: #171120;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background: #221930;
  padding: 2em 2em;
  position: absolute;
  bottom: 0.5px;
}

.navigate {
  padding: 1.5em 1.9em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      .in-cont {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.4em;
        gap: 0.3em;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        img {
          width: 1.8em;
        }
      }
    }
  }
}

.mainlogo {
  opacity: 0.3;
  z-index: 0.2;
  position: absolute;
  top: 4em;
}

.nav-bubble {
  display: none;
}

.Body-section {
  margin-top: 2.4em;
  text-align: center;

  .container {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .left {
        display: inline-block;
      h1 {
        font-size: 2.69em;
        font-weight: 900;
        letter-spacing: 0;

        .you {
            font-size: 1.2em;

          background-image: radial-gradient(
            119.33% 119.33% at 0% 8%,
            #ff83cd 0%,
            rgba(255, 131, 205, 0.489983) 41.63%,
            rgba(182, 166, 223, 0.622549) 67.53%,
            rgba(139, 186, 233, 0.7) 100%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
